.invite-header {
  font-family: Rochester;
  font-size: 108px;
  text-align: center;
  text-shadow: 2px 2px #7a2b43;
}

.invite-title {
  font-family: Droid Serif cursive;
  font-size: 28px;
  text-align: center;;
  float:right;
  width:90%;
}

.invite-address {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
  float: none;
  width: 100%;
}

.invite-wishlist {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
}

.invite-wishlist-url {
  font-family: Droid Serif cursive;
  font-size: 18px;
  color:#7a2b43;
  width: 100%;
  float: none;
}
.bemygenie {
    font-size: 18px;
    font-weight:bold;
    width: 100%;
    text-align: center;
    color:#7a2b43;
}
.invite-wishlist-id {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: left;
  color:#7a2b43;
}

.invite-row-header {
  position: absolute;
  width:90%;
  top:150px;
  left:150px;
  visibility: hidden;
  color:#454282;
}
.invite-row-title {
  position: absolute;
  width: 60%;
  top:260px;
  left:300px;
  color:#454282;
}
.invite-row-address {
  position: absolute;
  width: 100%;
  top:350px;
  left:70px;
  color:#454282;
}
.invite-row-wishlist-head {
  position: absolute;
  width: 100%;
  top:460px;
  left:150px;
  color: #454282;
}
.invite-row-footer {
  position: absolute;
  width: 100%;
  top:510px;
  left:170px;
  color:#454282;
}
.bmg-logo-row {
  align-content: center;
  top:70px;
  left:420px;
  color: #7a2b43;
}
