.invite-header {
  font-family: Rochester;
  font-size: 120px;
  text-align: center;
  text-shadow: 2px 2px #7a2b43;
}

.invite-title {
  font-family: Droid Serif cursive;
  font-size: 22px;
  text-align: center;
  float: none;
  width: 80%;
}

.bemygenie {
    top: 50px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color:#33144b;
}

.invite-address {
  font-family: Droid Serif cursive;
  font-size: 16px;
  text-align: center;
  float: right;
  width: 80%;
}

.invite-wishlist {
  font-family: Droid Serif cursive;
  font-size: 16px;
  text-align: center;
  color: #3c2a4d;
}

.invite-wishlist-url {
  font-family: Droid Serif cursive;
  font-size: 16px;
  color:#3c2a4d;
}

.invite-wishlist-id {
  font-family: Droid Serif cursive;
  font-size: 16px;
  text-align: left;
  color:#3c2a4d;
}

.invite-row-header {
  position: absolute;
  width:90%;
  top:20px;
  left:100px;
  color:#3c2a4d;
  visibility: hidden;
}
.invite-row-title {
  position: absolute;
  width: 80%;
  top:370px;
  left:250px;
  color:#3c2a4d;
}
.invite-row-address {
  position: absolute;
  width: 80%;
  top:420px;
  left:200px;
  color:#3c2a4d;
}
.invite-row-wishlist-head {
  position: absolute;
  width: 100%;
  top:510px;
  left:170px;
  color: #3c2a4d;
}
.invite-row-footer {
  position: absolute;
  width: 100%;
  top:560px;
  left:150px;
  color:#1b3c88;
}
.bmg-logo-row {
  position: absolute;
  left : 400px;
  align-content: center;
  top:50px;
  color: #3c2a4d;
}
