.invite-header {
  font-family: Rochester;
  font-size: 120px;
  text-align: center;
  text-shadow: 2px 2px #7a2b43;
}

.invite-title {
  font-family: Droid Serif cursive;
  font-size: 28px;
  text-align: center;
  float: left;
  width: 60%;
}

.bemygenie {
    top: 50px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color:#454282;
}

.invite-address {
  font-family: Droid Serif cursive;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 80%;
}

.invite-wishlist {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
  color:#454282;
}

.invite-wishlist-url {
  font-family: Droid Serif cursive;
  font-size: 20px;
  color:#454282;
}

.invite-wishlist-id {
  font-family: Droid Serif cursive;
  font-size: 20px;
  text-align: left;
  color:#454282;
}

.invite-row-header {
  position: absolute;
  width:90%;
  top:20px;
  left:100px;
  color:#454282;
  visibility: hidden;
}
.invite-row-title {
  position: absolute;
  width: 90%;
  top:280px;
  left:380px;
  color:#454282;
}
.invite-row-address {
  position: absolute;
  width: 90%;
  top:350px;
  left:200px;
  color:#454282;
}
.invite-row-wishlist-head {
  position: absolute;
  width: 100%;
  top:480px;
  left:200px;
  color: #454282;
}
.invite-row-footer {
  position: absolute;
  width: 100%;
  top:550px;
  left:180px;
  color:#454282;
}
.bmg-logo-row {
  position: absolute;
  left : 430px;
  align-content: center;
  top:100px;
  color: #454282;
}
