.invite-header {
  font-family: Rochester;
  font-size: 120px;
  text-align: center;
  text-shadow: 2px 2px #7a2b43;
}

.invite-title {
  font-family: Droid Serif cursive;
  font-size: 32px;
  text-align: center;
  float: none;
  width: 100%;
}

.bemygenie {
    font-size: 20px;
    font-weight:bold;
    width: 100%;
    text-align: center;
}

.invite-address {
  font-family: Droid Serif cursive;
  font-size: 22px;
  text-align: center;
  float: none;
  width: 100%;
}

.invite-wishlist {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
}

.invite-wishlist-url {
  font-family: Droid Serif cursive;
  font-size: 20px;
  color:#7a2b43;
}

.invite-wishlist-id {
  font-family: Droid Serif cursive;
  font-size: 20px;
  text-align: left;
  color:#7a2b43;
}

.invite-row-header {
  position: absolute;
  width:90%;
  top:20px;
  left:100px;
  color:#454282;
  visibility: hidden;
}
.invite-row-title {
  position: absolute;
  width: 80%;
  top:230px;
  left:80px;
  color:#454282;
}
.invite-row-address {
  position: absolute;
  width: 100%;
  top:320px;
  left:100px;
  color:#454282;
}
.invite-row-wishlist-head {
  position: absolute;
  width: 100%;
  top:480px;
  left:160px;
  color: #454282;
}
.invite-row-footer {
  position: absolute;
  width: 100%;
  top:540px;
  left:200px;
  color:#454282;
}
.bmg-logo-row {
  position: absolute;
  left : 420px;
  align-content: center;
  top:120px;
  color: #454282;
}
