.invite-header {
  font-family: Rochester;
  font-size: 96px;
  text-align: center;
  text-shadow: 1px 1px #454282;
}

.invite-title {
  font-family: Droid Serif cursive;
  font-size: 26px;
  text-align: center;
  float: none;
  width: 100%;
}

.invite-address {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
  float: none;
  width: 100%;
}
.bemygenie {
    font-size: 18px;
    font-weight:bold;
    width: 100%;
    text-align: center;
    color:#454282;
}

.invite-wishlist {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: center;
}

.invite-wishlist-url {
  font-family: Droid Serif cursive;
  font-size: 20px;
  color:#454282;
}

.invite-wishlist-id {
  font-family: Droid Serif cursive;
  font-size: 18px;
  text-align: left;
  color: #454282;
}
.invite-row-header {
  position: absolute;
  width:90%;
  top:80px;
  left:75px;
  color: #7a2b43;
  visibility: hidden;
}
.invite-row-title {
  position: absolute;
  width: 50%;
  top:260px;
  left:390px;
  float: right;
  color: #7a2b43;
}
.invite-row-address {
  position: absolute;
  width: 90%;
  top:330px;
  left:170px;
  color: #7a2b43;
}
.invite-row-wishlist-head {
  position: absolute;
  width: 90%;
  top:440px;
  left:120px;
  color: #7a2b43;
}
.invite-row-footer {
  position: absolute;
  width: 90%;
  top:490px;
  left:120px;
  color: #7a2b43;
}
.bmg-logo-row {
  align-content: center;
  top : 70px;
  left:350px;
  color: #7a2b43;
}
