.quicksearch {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
}

div.findProd {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}


.quicksearch-title {
  padding:20px;
  font-family: 'Rochester', cursive;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #2B6A7A;
  width: 100%;
  text-align: center;
}

.invite-title {
  padding-top: 40px;
  font-family: 'Rochester', cursive;
  font-size: 64px;
  color: #2B6A7A;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
}

.description {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  float:left;
}

.heading-title {
  font-family: 'Rochester', cursive;
  font-size: 84px;
  color: #2B6A7A;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
}

.counter {
  font-size: 12px;
  text-align: right;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.amz-note {
  font-size: 8px;
}

.image {
   position: relative;
   margin-left: auto;
   margin-right: auto;
}



a.no-effect {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}



.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #faebed;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.learnMoreItem li {
  font-family: Droid Serif;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 25px;
}
.user-header{
  background-color: #7a2b43;
  border-color: #ffffff;
}
.learnMoreItem ul {
  font-family: Droid Serif;
  font-size: 24px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #7a2b43;
	border-top: 1px solid #DDDDDD;
  color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom.user-dashboard {
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
	background: #7a2b43;
	border-top: 1px solid #DDDDDD;
  color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}




.navbar-default {
  background-color: #7a2b43;
  border-color: #7a2b6a;
  margin: 0px;
}


.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  padding: 5px 5px;
  color: #ffffff;
  font-size: 40px;
  font-weight:bold;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: #fed900;
}
.navbar-default .wide{    /* Added temporarily to make the brand stick to the middle of the top bar */
  padding-top: 0px;
  max-width:100%;
  height:110px;
}

.welcome-message {
  padding:10px;
  font-size: 14px;
  color: #ffffff;
  text-align: right;

}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fed900;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fed900;
  background-color: #7a2b6a;
}
.navbar-default .navbar-toggle {
  border-color: #98a7c6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7a2b6a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}



.navbar-default .navbar-collapse
.navbar-default .navbar-form{
  background-color: #5E7D7E;
  border-color: #ffffff;
}

.user-header{
  background-color: #7a2b43;
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fed900;
}
/* The following is set to that the menu items stay at the right and there's padding from the right edge of the window*/
.navbar-default .navbar-right {
  font-size: 24px;
  font-weight: bold;
  padding: 25px;

}

.event-heading-right {
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  color: #ffffff;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Bump up size of carousel content */
 .carousel-caption p {
   margin-bottom: 20px;
   font-size: 21px;
   line-height: 1.4;
 }

 .featurette-heading {
   font-size: 50px;
 }




.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media (min-width: 992px) {
 .featurette-heading {
   margin-top: 120px;
 }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fed900;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fed900;
    background-color: #98a7c6;
  }
}
.admin {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #D1D0CE;
}


.create_registry {
  padding-top: 150px;
  background: #FFFFFF;
}

.prod_load_item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #000000;
  background: #FFFFFF;
}

.list-group-create-registry {
  padding: 40px;
  color: #454282;
  text-align: center;
  background: #FFFFFF;
  border-radius: 20px
}

.user-dashboard {
  padding-top: 100px;
}

.FAQ {
  padding-top: 120px;
}

.user-active-list {
  padding: 40px;
  color: #963963;
  text-align: left;
  font-size: 20px;
  background: #FFFFFF;
  border-radius: 20px
}


.list-group {
  padding: 40px;
  color: #FFFFFF;
  text-align: center;
  background: #284b66;
  border-radius: 20px
}

.prod_load_item .price{
  font-weight: bold;
  color: #38ACEC;
}

.list-group.faq-items {
  color: #FFFFFF;
  background: #284b66;
  padding: 0px;
  padding-left: 5px;
  border-radius: 5px;
}

p.summary{
  font-size: 15px;
  display:inline-block;
}

ul.dropdown-menu {
  font-size: 16px;
}

.table-hover {
  border : 20px;
  border-color: #454545;
}

.help-tip{
	position: relative;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #454282;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}



.help-tip-details:before{
	content:'Details';
	font-weight: bold;
  font-size: 8px;
	color:#00f;
}

.help-tip-details:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip-details p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #454282;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip-details p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip-details p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

.help-tip-learnmore:before{
	content:'Learn More';
	font-weight: bold;
  font-size: 8px;
	color:#00f;
}

.help-tip-learnmore:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip-learnmore p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #454282;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip-learnmore p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip-learnmore p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip2 {
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip1 .tooltiptext {
    visibility: hidden;

    background-color: #454282;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 .tooltiptext {
    visibility: hidden;

    background-color: #454282;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.featured{
    background: none repeat scroll 0 0 white;
    height: 250px;
    width: 300px;
    text-align: center;

}

.featured-container {
    width:100%;
    overflow:scroll;
    white-space: nowrap;

}

.featured-container div { display: inline-block; }

.featured-image {
  height: 160px;
  width: 160px;
  padding-top: 10px;
}

.featured-products {
  padding: 10px;
  border-color: #7a2b43;
}

.featured-price {
  color: #7a2b43;
  font-weight: bold;
}

.admin-link {
  color: #FFFFFF;
}

.admin-link:focus, .admin-link:hover {
    color: #FFFFFF;
    font-weight: bold;
}

.admin-link:visited {
    color: #FFFFFF;
}

.forgot-password {
  color: #3090C7;
  font-size: 12px;
}

a.product-review {
  color: #FFFFFF;
}

.glyphicon-warning-sign {
    padding: 10px;
    font-size: 50px;
    color: #ffd800;
}

.glyphicon-info-sign {
    padding: 10px;
    font-size: 50px;
    color: #00cbff;
}

.glyphicon-remove-sign {
  padding: 10px;
  font-size: 50px;
  color: #d11b1b;
}

.title {
  font-family:         'Merriweather', serif;
  text-align: center;
}

.hostedby {
  font-family:         'Merriweather', serif;
  text-align: center;
}

.welcomeMessage {
  font-family:         'Merriweather', serif;
  font-size: 20px;
  color: #454282;
  padding:20px;
  font-weight: bold;
}


.welcomeMessage {
   padding: 20px;
   margin: 10px;
   color: #945266;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border-radius: 10px;
   box-shadow: 0 0 0 0px #945266, 0px 0px 0px 0px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

.wishlist-image {
   padding: 20px;
   margin: 10px;
   background-image: url("../images/list_header.jpeg");
   background-size: 100%;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   border-radius: 10px;
   box-shadow: 0 0 0 0px #945266, 2px 1px 1px 1px rgba(10, 10, 0, 0.5);
   text-shadow: 1px 1px #aa3030;
   font-weight: normal;
}

#Floating {
  text-align: center;
  padding: 10px;
    position: fixed;
    top: 700px;
    right: 20px;
    height: 100px;
    width: 200px;
    color: #ffffff;
    background-color: #454282;
    box-shadow: 2px 2px 1px #888888;
    opacity: 0.9;
    z-index: 99;
}

.invite-option {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(226,174,190);
  color: #ffffff;
  -webkit-transition: background-color 0.3s; /* For Safari 3.1 to 6.0 */
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s;
  font-smoothing: antialiased;
}

.invite-option:hover {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(122,43,67);
  color: #ffffff;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
