<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/main.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="JSFiles/main.js"></script>
  <script src="JSFiles/sha256.js"></script>

</head>
<body class="admin-body">


<nav class="navbar navbar-default navbar-fixed-top">
      <div class="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand wide" href="/admin">bemygenie.com - Admin Console</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/product_loader">Welcome, <%=username%>!</a></li>
            <li><a href="/admin_logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container admin">
      <div id="search_intro">

        <div class="list-group">


      <div class="row" >
        <div class="col-sm-12" style="text-align:center">
          <div id="amazon_search_result">
              <h1> Welcome to BMG Admin </h1>
              <p>
                 Unauthorized Access is punishible by law.
              </p>
          </div>
        </div>
      </div>


        <div class="row" >
          <div class="col-sm-12" style="text-align:left;font-size:20px">
              <h2>Product Administration</h2>
            </div>
          </div>

          <div class="row" >
            <div class="col-sm-2" style="text-align:center">
            </div>
            <div class="col-sm-8" style="text-align:left;font-size:20px">
                <p>
                  <a class="admin-link" href="/product_loader">Add a new Product</a>
                </p>
                <p>
                  Delete a Product
                </p>
                <p>
                  <a class="admin-link" href="/review_product">Change Featured products</a>
                </p>
                <p>
                  <a class="admin-link" href="/review_product" id="unreviewed"></a>
                </p>
              </div>
            </div>


          <div class="col-sm-2" style="text-align:center">
          </div>
        </div>


      </div>
    </div>
    </div>

    <form id="AdminHomePage" method="POST" action="/admin" style="visibility: hidden;">

    </form>


    </div>








</body>
</html>
