<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/main.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Great+Vibes|Parisienne" rel="stylesheet">
  <script src="JSFiles/moment-with-locales.min.js"></script>
  <script src="JSFiles/main.js"></script>
  <script src="JSFiles/sha256.js"></script>

  <script>


  $(document).ready(function() {

      //alert("hi there" + $('#user').val());
      getUserWishLists($('#user').val(),'active_lists',1);

      window.onbeforeunload = function() { alert("Your work will be lost."); };

      if (getCookie("NewRegistryCreated") != "")
      {
        $('#personalizeHeading').text("Personalize - " + getCookie('event_name'))
        $('#saveMessageButton').attr("onclick","saveMessage('" + getCookie('wishlistIdReference') + "','" + getCookie('UIDReference') + "')")
        $('#saveMessageDefault').attr("onclick","saveMessageDefault('" + getCookie('wishlistIdReference') + "','" + getCookie('UIDReference') + "')")
        alert('show modal' + getCookie("NewRegistryCreated"));
        $('#personalizationModal').modal('show');
        //deleteCookie("NewRegistryCreated");
        //deleteCookie('event_name');

      }

   });


  </script>

</head>

<div id="personalizationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="personalizationModalLabel">
  <div class="modal-dialog">
    <div class = "modal-content">
      <div class="modal-header"><h1 class="modal-title" style="font-family:'Merriweather', serif" id="personalizeHeading"><b>Planning Event...</b></h1></div>
      <div class="modal-body">
          <p id="personalize" style="font-family:'Merriweather', serif;font-size:16px">Want to personalize your wishlist? Leave a special message for the people who will be viewing your wishlist.</p>
          <textarea class="form-control" rows="5" id="message" placeholder="Hello There!&#10;&#13;&#10;&#13;Thanks for taking the time to go through my wishlist. :)&#10;&#13;&#10;&#13;See you soon!"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" style="display:default;float:left" data-dismiss="modal" id="saveMessageDefault">Skip</button>
          <button type="button" class="btn btn-info" style="display:default;float:right" data-dismiss="modal" id="saveMessageButton">Save Message</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="amzDisclaimer" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Disclaimer</h4>
        </div>
        <div class="modal-body">
          <p>
             Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on Amazon.in at the time of purchase will apply to the purchase of this product.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>

    </div>
  </div>
</div>

<body class="admin-body">

  <!-- Modal Starts here-->
  <!-- This is the modal that will list out the product list for active wishlists.-->
    <div class="modal fade" id="viewWishListModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"><div id="wishlistname">The Names</div></h3>
          </div>
          <div class="modal-body">
            <div id="summaryDescription">
              <p class="summary">Your wishlist has x items of which y has already been purchased.</p>
            </div>
            <div id="wishListLink">
              <br />
              <p class="summary">Wishlist Link:
              </p>
            </div>


            <br />
            <div id="wishlistsummary" style="height:500px;overflow: scroll;">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  <!-- Modal Ends here-->
  <!-- This is the modal that will list out the product list for inactive wishlists.-->
    <div class="modal fade" id="viewOldWishListModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"><div id="wishlistoldname">The Names</div></h3>
          </div>
          <div class="modal-body">
            <div id="summaryOldDescription">
              <p class="summary">Your wishlist has x items of which y has already been purchased.</p>
            </div>



            <br />
            <div id="wishlistoldsummary" style="height:500px;overflow: scroll;">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  <!-- Modal Ends here-->
  <!-- 3/31/2017 - trznt - This is a Login modal. -->
  <!-- Modal Starts here-->
    <div class="modal fade" id="changePassword" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Password</h4>
          </div>
          <div class="modal-body">
            <p>
               You can change your password here.
            </p>
            <div class="form-group" id="form-group_existing-password">
              <label for="username">Current Password:</label>
            </div>
            <input type="password" class="form-control" name="email" id="e_password" required/>
            <br />
            <div class="form-group" id="form-group_new-password1">
              <label for="password">New Password:</label>
            </div>
            <input type="password" class="form-control" name="email" id="login_password" required/>
            <br />
            <div class="form-group" id="form-group_new-password2">
              <label for="password">Repeat New Password:</label>
            </div>
            <input type="password" class="form-control" name="email" id="login_password2" required/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="changePassword()">Change Password</button>
          </div>
        </div>

      </div>
    </div>
  <!-- Modal Ends here-->
  <!-- Modal Starts here-->
  <div class="modal fade" id="information_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="information_modal-title-id"></h4>
        </div>
        <div class="modal-body">
        <span class="glyphicon glyphicon-info-sign"></span>
          <p id="information_modal-p-id">

          </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>

    </div>
  </div>
  </div>

  <div class="modal fade" id="warning_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="warning_modal-title-id"></h4>
        </div>
        <div class="modal-body">
        <span class="glyphicon glyphicon-warning-sign"></span>
          <p id="warning_modal-p-id" style="text-align:left">

          </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>

    </div>
  </div>
  </div>

  <div class="modal fade" id="error_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="error_modal-title-id"></h4>
        </div>
        <div class="modal-body">
        <span class="glyphicon glyphicon-remove-sign"></span>
          <p id="error_modal-p-id">

          </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="error_modal-close">Close</button>
      </div>

    </div>
  </div>
  </div>



<nav class="navbar navbar-default navbar-fixed-top">
      <div class="nav-container ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand wide" href="/home">bemygenie.com - Hello, <%=username%> !</a>-->
          <a href="/home"><img class="navbar-brand wide" src="images/logos/logo.png" ></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse user-header">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="welcome-message">Hello, <br> <%=username%>!</div></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" onclick=getUserProfileDetails($('#user').val(),'active_lists')>Profile</a></li>
                <li><a href="#" onclick="getUserWishLists($('#user').val(),'active_lists',0);">Previous Wishlists</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="logout();">Logout</a></li>
              </ul>
            </li>
            <li><a href="#">Help</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



  <div class="container user-dashboard" id="userblock">
    <div class="row">
      <div class="col-sm-12">
        <div class="user-active-list" id="active_lists">

        </div>
      </div>
    </div>
  </div>


<p>
   <input type="hidden" name="user" value="<%=userID%>" id="user">




</p>
<footer>

  <div class="footer" id="footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                  <h3> bemygenie.com </h3>
                  <ul>
                    <li> <a href="/aboutus" target="_blank"> About Us </a> </li>
                      <!--<li> <a href="#"> Careers </a> </li>
                      <li> <a href="#"> Advertise with us </a> </li>-->

                  </ul>
              </div>
              <!--<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                <h3> Products & Services </h3>
                <ul>
                      <li> <a href="#"> Gift Registers </a> </li>
                      <li> <a href="#"> Sell your products on our site. </a> </li>
                      <li> <a href="#"> Partner Login. </a> </li>
                  </ul>
              </div>-->
              <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
                <h3> Help </h3>
                <ul>
                      <li> <a href="/FAQ.html" target="_blank"> FAQs + T&C </a> </li>
                      <li> <a href="/howitworks.html" target="_blank"> How it works </a> </li>
                      <!--<li> <a href="#"> Privacy Policy </a> </li>-->
                  </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                <h3> Connect with us </h3>
                <ul class="social">
                    <li> <a href="https://www.facebook.com/Bemygenie-122063531714874/" target="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                    <li> <a href="https://twitter.com/bemygenie_" target="#"> <i class="fa fa-twitter">   </i> </a> </li>
                    <li> <a href="https://in.pinterest.com/bemygenie/" target="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                    <li> <a href="https://www.youtube.com/channel/UCfc9QGG2GFnjJi0Kq7If5_w" target="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    <li> <a href="https://www.instagram.com/bmygenie/" target="#"> <i class="fa fa-instagram">   </i> </a> </li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 ">
             <!--     <h3> Join our newsletter </h3>
                  <ul>
                      <li>
                          <div class="input-append newsletter-box text-center">
                              <input type="text" class="full text-center" placeholder="Email ">
                              <button class="btn btn-success" type="button"> Thank you! <i class="fa fa-long-arrow-right"> </i> </button>
                          </div>
                      </li>
                  </ul>-->
                  <h3> Learn More </h3>
                  <p> Have you ever received a duplicate gift?<br>Have you ever received an undesirable gift?<br>Have you ever wondered what to give as gift to someone?
                    <br>Bemygenie is here to help!!! Click <a href="/learnmore.html" target="_blank">here to learn more</a>
                  </p>
              </div>

          </div>
          <!--/.row-->
      </div>
      <!--/.container-->
  </div>
  <!--/.footer-->
<div class="footer-bottom user-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="https://www.instantssl.com/ssl-certificate-products/multi-domain-ssl-certificate.html">
          <img src="https://ssl.comodo.com/images/comodo_secure_seal_113x59_transp.png" alt="Multi Domain SSL" width="113" height="59" style="border: 0px;"><br> <span style="color:#FFFFFF;font-weight:bold; font-size:7pt">Multi Domain SSL</span></a><br>
      </div>
      <div class="col-sm-8" style="padding-top:20px">
        <p class="pull-left"> Copyright © bemygenie.com 2016 </p>
        <br />
        <p class="pull-left" style="font-size:8px">
           CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON.IN PRIVATE LTD. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME.
        </p>
        </div>
        <div class="col-sm-2" style="padding-top:20px">
          <p class="pull-right" style="padding-top:6px"> Design by <a href="mailto:admin@bemygenie.com" style="color:#ffffff">Planet Joy</a></a>.</p>
         </div>

    </div>
   </div>
</div>
<!--/.footer-bottom-->
</footer>
</body>
</html>
