<!DOCTYPE HTML>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/main.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="JSFiles/main.js"></script>
    <script src="JSFiles/showWishList.js"></script>


    <script>

     $(document).ready(function () {
       var buyingProdID = "";
       var buyingProdURL = "";
       var eventID = "";
       function searchCatg() {
          var genreStr = [];
          var priceStr = [];
          var gStr = [];
          var gpStr = [];
          var evntTypeStr = [];
          var srchStr = [];
          var chkCnt = 0;
          var cnt = 0;

          var genreAll = ['A','C','Y','U','B','D','E','V','H','G','J','L','M','N','O','P','S','F','R','T','I','W'];
          var priceAll = ['0','5','1','2','3'];
          var eventAll = ['B','S','A','W','@','C','T','X','U','Y','P','V','Q','R','L'];

          $.each($("input[name='chkValGen']:checked"), function(){genreStr.push($(this).val());chkCnt++});
          if (chkCnt > 0) {for (i=0;i<genreStr.length;i++) {gStr[i]=genreStr[i]}}
          else {for (i=0;i<genreAll.length;i++) {gStr[i]=genreAll[i]}}

          chkCnt = 0;
          $.each($("input[name='chkValPrc']:checked"), function(){priceStr.push($(this).val());chkCnt++});
          for (i=0;i<gStr.length;i++){
             if (chkCnt > 0) {for (j=0;j<priceStr.length;j++) {gpStr[cnt] = gStr[i] + priceStr[j];cnt++}}
             else {for (j=0;j<priceAll.length;j++) {gpStr[cnt] = gStr[i] + priceAll[j];cnt++}}
          }

          chkCnt = 0;
          cnt = 0;
          $.each($("input[name='chkValEventType']:checked"), function(){evntTypeStr.push($(this).val());chkCnt++});
          var eventArr = [];
          var evntCombStr = "";

          evntTypeStr.sort();
          for (i=0;i<evntTypeStr.length;i++) {evntCombStr = evntCombStr + evntTypeStr[i]}
          switch (evntCombStr) {
            case 'B': eventArr = ['B','C','U','Y','V','@','R'];break;
            case 'A': eventArr = ['A','C','T','X','V','@','Q'];break;
            case 'S': eventArr = ['S','T','U','P','V','Q','R'];break;
            case 'W': eventArr = ['W','X','Y','P','@','Q','R'];break;
            case 'AB': eventArr = ['A','B','C','T','U','Y','X','V','@','R','Q'];break;
            case 'AS': eventArr = ['A','S','C','T','U','Y','P','V','@','R','Q'];break;
            case 'AW': eventArr = ['A','W','C','T','Y','X','V','P','@','R','Q'];break;
            case 'BS': eventArr = ['B','S','C','T','U','Y','V','@','R','P','Q'];break;
            case 'BW': eventArr = ['B','C','U','Y','V','@','R','W','X','P','Q'];break;
            case 'SW': eventArr = ['S','T','U','P','V','Q','R','W','X','Y','@'];break;
            case 'ABS': eventArr = ['A','B','C','T','U','Y','X','V','@','R','Q','S','P'];break;
            case 'ASW': eventArr = ['A','S','C','T','U','Y','P','V','@','R','Q','W','X'];break;
            case 'BSW': eventArr = ['B','S','C','T','U','Y','V','@','R','P','Q','W','X'];break;
            default: eventArr = ['B','S','A','W','@','C','T','X','U','Y','P','V','Q','R','L'];
          }

          for (i=0;i<gpStr.length;i++){
              if (chkCnt > 0 && chkCnt != 4) {for (j=0;j<eventArr.length;j++) {srchStr[cnt] = eventArr[j] + gpStr[i];cnt++}}
              else {for (j=0;j<eventAll.length;j++) {srchStr[cnt] = eventAll[j] + gpStr[i];cnt++}}
          }
          if (cnt > 0) {
             if (cnt == (genreAll.length*priceAll.length*eventAll.length)) {srchStr="KKK"};
             $.get( "/filterWishListByCatg",{Catg:srchStr,eventID : eventID}, function( data, status ) {
              if (status == 'success'){ //changed since last version on 24 Jan.. fix no records returned issue
                var htmlStr = "";
                var endStr = "";
                var prdName = "";
                var loop = 0;
                htmlStr = '<div class = "carousel-wrapper" id="carousel-wrapper">';

                $.each(data, function(key,doc){
                  try {
                    prdName = doc.ProdNm;
                    if (loop%4 == 0){htmlStr = htmlStr + '<div class = "row">'}
                    htmlStr = htmlStr + '<div class="col-sm-3"><div class="thumbnail">';
                    htmlStr = htmlStr + '<a id = "detURL_'+doc.ProdID+'" href='+doc.ProdDsc+' target="_blank">';
                    htmlStr = htmlStr + '<img id = "imgURL_'+doc.ProdID+'" src='+doc.ImageURL+'>';
                    htmlStr = htmlStr + '<div class="caption"><p id="ProdNm_'+doc.ProdID+'" align="middle">'+prdName+'</p>';
                    htmlStr = htmlStr + '<p align="middle"> INR '+doc.MRP+'</p></div></a>';
                    htmlStr = htmlStr + '</div></div>'
                    loop++;
                    if (loop%4 == 0){htmlStr = htmlStr + "</div>"};
                 }
                 catch (e) {}
                }) //for each
                if (loop%4 != 0) {htmlStr = htmlStr + "</div>"};
                htmlStr = htmlStr + endStr + "</div>";
                //alert(htmlStr);
                $('#carousel-wrapper').replaceWith(htmlStr);
             }
             else { //This code below is causing issue when no product found
               htmlStr = '<div class = "carousel-wrapper" id="carousel-wrapper"> <div class = "row">';
               htmlStr = '<p style = "padding-top:100px">No products found with your matching criteria</p>'
               htmlStr = "</div></div>";
               $('#carousel-wrapper').replaceWith(htmlStr);
             }
           });
         }
         else {

         }
       }

         $("#chkGenre").change(function() {searchCatg()});
         $("#chkEvntType").change(function() {searchCatg()});
         $("#chkPrice").change(function() {searchCatg()});

     }); //ready

     function openAmznPage() {
       alert("Product Id being bought"+buyingProdID);
       $("#boughtButton").toggle();
       $("#buyBtn").toggle();
       $("#didNotBuy").toggle();
       $("#closeBtn").toggle();
       var data = {"WishListID":eventID,"ProductID":buyingProdID,"Status":"Blocked"};
       $.ajax({
         type : 'POST',
         url :"/updProductStatus",
         data : {"Data":data},
         success : function(res) {
           $("#boughtButton").toggle();
           $("#buyBtn").toggle();
           $("#didNotBuy").toggle();
           $("#closeBtn").toggle();

           window.open(buyingProdURL);
         },
         error : function(res) {alert("Error in blocking product. Please try after sometime!")}
       })
     }
     </script>
  </head>


  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="nav-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand wide" href="#">bemygenie.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Planning event</a></li>   <!--change this-->
                <li><a href="#show-cart">Cart</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </nav> <!--Navigation bar -->

    <!-- Carousel
           ================================================== -->
    <div class = "container-fluid" style="padding-top:100px"> <!-- This is the carousel holder - Being added to accomodate a wider Nav Bar-->
      <!-- Modal -->
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class = "modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button></div>
            <div class="modal-body">
              <p>Hi There!!!,</p>
              <p>You will now be redirected to the third party website where you can buy and ship the product to your desired destination.</p>
              <p>Please note, that this product will be blocked as bought by you. For some reason if you do not complete your purchase, We urge you to kindly
                comeback to this page and notify us of the same.</p>
              <br>
              <p>We Thank You for your kind support in helping us serve better</p>
            </div>
            <div class="modal-footer">
              <button type="button" id="closeBtn" class="btn btn-default" style="display:default" data-dismiss="modal">Close</button>
              <button type="button" id="buyBtn" class="btn btn-success" style="display:default" onclick="openAmznPage()">Proceed to Buy</button>
              <button type="button" id="boughtButton" class="btn btn-success" style="display:none" onclick="purchaseCompleted()">Purchase Completed</button>
              <button type="button" id="didNotBuy" class="btn btn-warning" style="display:none" onclick="noPurchase()">Did not Buy</button>
            </div>
          </div>
        </div>
      </div>
        <!--div class = "container-fluid"-->
          <!--Quick filters-->
          <div class = "col-sm-2">
            <div class = "panel-group">

              <div class = "panel panel-default">
                <div class = "panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#eventType">Event Type</a></h4>
                </div> <!--Panel heading-->
                <div id="eventType" class="panel-collapse collapse">
                  <form>
                    <div class = "checkbox" id="chkEvntType">
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValEventType" value="B">Birthday</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValEventType" value="S">Baby Shower</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValEventType" value="A">Anniversary</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValEventType" value="W">Wedding</label><br>
                    </div>
                  </form>
                </div><!--Panel items-->
              </div> <!--Panel Genre-->


              <div class = "panel panel-default">
                <div class = "panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseGenre">Genre</a></h4>
                </div> <!--Panel heading-->
                <div id="collapseGenre" class="panel-collapse collapse">
                  <form>
                    <div class = "checkbox" id = "chkGenre">
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" id="genreApparel" value="A">Apparel</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="C">Automobile</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="Y">Baby Items</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="U">Beauty Products</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" id = "genreBooks" value="B">Books</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="D">DVD</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="E">Electronics</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="E">Experiences</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="V">Gift Cards</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="H">Health & Personal Care</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="G">Home & Garden</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="L">Luggage</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="M">Music</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="N">Musical Instruments</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="O">Office Products</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="P">PC Hardware</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="S">Shoes</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="F">Software</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" id = "genreSports" value="R">Sports Goods</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" id = "genreToys" value="T">Toys</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="I">Video Games</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValGen" value="W">Watches</label>
                    </div>
                  </form>
                </div><!--Panel items-->
              </div> <!--Panel Genre-->

              <div class = "panel panel-default">
                <div class = "panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapsePrice">Price</a></h4>
                </div> <!--Panel heading-->
                <div id="collapsePrice" class="panel-collapse collapse">
                  <form>
                    <div class = "checkbox" id="chkPrice">
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValPrc" value="0">0 - 500</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValPrc" value="5">500 - 1000</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValPrc" value="1">1000 - 2000</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValPrc" value="2">2000 - 3000</label><br>
                      <label style="color:#7A7B7C;font-size:16px"><input type="checkbox" name = "chkValPrc" value="3"> 3000 - More </label><br>
                    </div>
                  </form>
                </div><!--Panel items-->
              </div> <!--Panel Genre-->

            </div><!--Panel group-->
          </div>
          <!--Category Carousel & Thumbnails-->
          <div class = "col-sm-10">
            <div class = "row" style="padding-top:10px">
              <div class = "form-group form-inline">
                <label for="evntID">You are viewing event :</label>
                <input type="text" class="form-control" id="evntID" value= <%=eventID%> disabled>
              </div>
              <hr>
              <div class = "carousel-wrapper" id="carousel-wrapper">
              </div> <!--wishlist-wrapper -->
          </div> <!-- wishlist row -->
          </div>
        <!--/div-->
       </div> <!-- /.carousel holder -->



     <footer>
       <div class="footer" id="footer">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                     <h3> bemygenie.com </h3>
                     <ul>
                         <li> <a href="#"> About Us </a> </li>
                         <li> <a href="#"> Careers </a> </li>
                         <li> <a href="#"> Advertise with us </a> </li>

                     </ul>
                 </div>
                 <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                   <h3> Products & Services </h3>
                   <ul>
                         <li> <a href="#"> Gift Registers </a> </li>
                         <li> <a href="#"> Sell your products on our site. </a> </li>
                         <li> <a href="#"> Partner Login. </a> </li>
                     </ul>
                 </div>
                 <div class="col-lg-2  col-md-3 col-sm-6 col-xs-12 ">
                   <h3> Help </h3>
                   <ul>
                          <li> <a href="#"> FAQs </a> </li>
                         <li> <a href="#"> Terms & Conditions </a> </li>
                         <li> <a href="#"> Privacy Policy </a> </li>
                         <li> <a href="#"> Shipping & Returns Policy </a> </li>
                     </ul>
                 </div>

                 <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                     <h3> Join our newsletter </h3>
                     <ul>
                         <li>
                             <div class="input-append newsletter-box text-center">
                                 <input type="text" class="full text-center" placeholder="Email ">
                                 <button class="btn btn-success" type="button"> Thank you! <i class="fa fa-long-arrow-right"> </i> </button>
                             </div>
                         </li>
                     </ul>
                     <ul class="social">
                         <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                         <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                         <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                         <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                     </ul>
                 </div>
             </div>
             <!--/.row-->
         </div>
         <!--/.container-->
     </div>
     <!--/.footer-->

     <div class="footer-bottom">
         <div class="container">
             <p class="pull-left"> Copyright © bemygenie.com 2016 </p>
             <p class="pull-right" style="padding-top:6px"> Design by <a href="mailto:trznt.technologies@gmail.com" style="color:#ffffff">trznt</a></a>.</p>
         </div>
     </div>
     <!--/.footer-bottom-->
 </footer>



  </body>


  </html>
